@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Zeyada&display=swap');

h1 {
  color:navy
  font-family: Babylonica;
}

body {
  background-color: cornflowerblue;
}

p {
  color:red
}